# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# YOLO training runs (keep only selected model weights)
runs/

# Datasets and large media
test_insert_db/
datasets/
media_for_detection_*/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

#DB env
env_db.py

#DB logs
tools_mysql.log